body{
    margin: 0;
	background-color:#E7D472;
}
#main{
	margin-left:5%;
	margin-right:5%;
}
#title {
	text-align:center;
	height:150px;
}
a:link{
    color:#000;
    text-decoration: none;
}
a:visited {
	color:#000;
    text-decoration: none;
}
#title h6{
	padding:0px;
	margin:0px;
}
#title h1{
	margin:0px;
	padding:0px;
	margin-top:40px;
	margin-bottom:10px;
}
#header{
    width:100%;
    height:150px;
    background-color: #6D1B1B;
    border-bottom:4px solid black;
}
#liHead{   
    margin:0 0 0 0;
    margin-left: 300px;
    font-weight:bold;
    box-sizing: border-box;
}
#liHead li{
    font-size: 26px;
    margin:50px 100px 10px 10px;
    display: inline-block;
}
#warSong{
	float:left;
	width:25%;
	margin-right:200px;
	margin-left:100px;
}
#restSong{
	margin-right:100px;
	float:left;
	width:25%;
	
}
#philSong{
	float:left;
	width:25%;
}
.kindsPoems{
	
	
	height:300px;
	margin:0px;
	padding:0px;
}